<footer>
    <div class="f-info">
<div class="info-socials">
   <a href="https://www.facebook.com/profile.php?id=100052224853237" title="facebook" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="https://www.instagram.com/sumitshukla1001/" title="Instagram" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://www.linkedin.com/in/sumit-shukla-5aa09624b" title="Linkedin" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
   <a href="https://x.com/sumitsh07387458?t=gw3cf2ZsauRRAPzR8jGvgQ&s=09" title="Twitter" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
   <a href="https://api.whatsapp.com/send?phone=7678674553" title="whatsapp" target="_blank"><i class="fa-brands fa-square-whatsapp"></i></a>
    <a href="tel:+917678674553" class="call"><i class="fa-solid fa-square-phone info-socials" title="call"></i></a>
</div>
  <div class="f-info-brand">&copy;Sumit Shukla's NamasteNomad Pvt Ltd. All content and material on this site are protected by copyright.All Rights Reserved 2023.</div>
  <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
    </div>
</footer>