<style>
 .btn-search{
  background-color: royalblue;
  color: #ffffff;
  border-radius: 25px;
  padding: 0 1rem 0 1rem;
 }

 .btn-search:hover{
  background-color: royalblue;
  color: white;
 }

 .btn-search i{
   display: inline;
   margin-right: 0.5rem;
 }

 .search-input{
  border-radius: 25px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 0.98rem;
 }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand logo2" title="sumitshukla" href="/listings"><i class="fa-brands fa-sitrox logo"></i><i class="fa-brands fa-sitrox logo"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" title="places" href="/listings">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search Destinations">
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" title="add new" href="/listings/new">Airbnb your home</a>
          <% if(!currUser){%>
            <div class="me-2 gap">
            <a href="/signup"><button type="button" title="signup" class="btn btn-primary mybtn"><b>SignUp</b></button></a>
          </div>
          <div class="me-1 gap">
            <a href="/login"><button type="button" title="login" class="btn btn-primary mybtn"><b>Login</b></button></a>
          </div>
         <%}%>
 
         <% if(currUser){%>
          <a href="/logout"><button type="button" title="logout" class="btn btn-primary mybtn"><b>Logout</b></button></a>
          <%}%>
        </div>
      </div>
    </div>
  </nav>